@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.Integrantes != null)
{
    <ul>
    <h2>Integrantes del equipo</h2>
@for (int i = 0; i <  ViewBag.Integrantes.Count; i++)
            {
            string Foto1 = @ViewBag.Integrantes[i].Foto;
            <img src="~/Imagenes/@Foto1" alt="Foto" />
            <h3>Nombre: @ViewBag.Integrantes[i].Nombre</h3>
            <h3>Amor Platónico: @ViewBag.Integrantes[i].AmorPlatonico</h3>
            <h3>Youtuber: @ViewBag.Integrantes[i].YoutuberFav</h3>
            <h3>Marca de Ropa: @ViewBag.Integrantes[i].MarcaDeRopaFav</h3>
            <h3>Comida: @ViewBag.Integrantes[i].ComidaFav</h3>
            <h3>Equipo de Fútbol: @ViewBag.Integrantes[i].EquipoDeFutbolFav</h3>        
            }
    </ul>   
}
else
{
    <p>No hay integrantes para mostrar.</p>
}
<form asp-action="Index" method="get">
    <button type="submit">Volver al inicio</button>
</form>